		#contenedor{
			width:75%;
			display:block;
			margin:auto;
			border: 2px solid #efefef;
			padding: 30px;
		}
		
		#cabecera{
			width:100%;
			display:block;
			margin:auto;
		}
		#cabecera img{
			display:block;
			margin:auto;
		}
		#menu{
			height:35px;
			border-top:2px solid #46AEE1;
			border-bottom:1px solid #46AEE1;
			display:block;
			margin:auto;
			margin-top:20px;
		}
		#menu a{
			text-decoration:none;
			color:#46AEE1;
			line-height:35px;
			font-family:arial;
			margin:0px 10px;
			font-size:12px;
		}
		.centrar{
			text-align:center;			
		}
		#pie{
			border-top:1px solid #46AEE1;
			text-align:center;
			color:#c2c2c2;
			font-family:arial;
			font-size:10px; 	
		}
		#pie span{
			width:50%;
			display:block;
			margin:auto;
			margin-top:15px;
		}