<p> </p>
<p> </p>
<div id="cabecera" style="width: 100%; float: left; margin-bottom: 25px; padding: 10px;"><br /> <img src="file:///C:/Firma%20mail%20EBDP/Cabecera%20mail.png" alt="" /></div>
<p> </p>
<div id="mensaje" style="width: 100%; float: left; margin-left: 5%;"><br /> <span style="font-family: arial;">Buenas </span><br /><br /><br /><br /> <br /> <br /> <br /> </div>
<p> </p>
<div id="saludo" style="width: 100%; float: left; border-top: 1px solid #e7e9e6; margin-bottom: 25px; padding: 10px;"><br /> <span style="color: #45acfb; font-family: arial; font-size: 14px;"><br /> <strong>Pepi Medina Fern&aacute;ndez</strong><br /> <br /> El Ba&uacute;l del Peque<br /><br /> contacto@elbauldelpeque.com<br /><br /> 952491304<br /><br /> www.elbauldelpeque.com<br /><br /> </span></div>
<p> </p>
<p> </p>
<p> </p>