<p>El Baul del Peque</p>
<div id="contenedor">
<div id="cabecera"><img src="http://static2.elbauldelpeque.com/img/el-baul-del-peque-1408554544.jpg" alt="" /></div>
<div id="menu">
<div class="centrar"><a href="http://elbauldelpeque.com/es/12-nina">Ni&ntilde;a</a> <a href="http://elbauldelpeque.com/es/13-nino">Ni&ntilde;o</a> <a href="http://elbauldelpeque.com/es/14-bebes">Beb&eacute;s</a> <a href="http://elbauldelpeque.com/es/15-complementos">Complementos</a> <a href="http://elbauldelpeque.com/es/fabricantes">Nuestras marcas</a></div>
</div>
<div id="contenido"><!-- contenido --></div>
<div> </div>
<div>&iexcl; Hola &nbsp;a tod@s !&nbsp;</div>
<div> </div>
<div>Os enviamos este correo ante todo para pediros disculpas por los peque&ntilde;os inconvenientes que hayan podido surgir en el lanzamiento de la nueva tienda online y agradeceros la confianza depositada en nosotros.</div>
<div> </div>
<div>Somos conscientes de que muchos de los que os habeis suscrito al newsletter no habeis recibido el C&oacute;digo de descuento del 10% para una compra por suscribiros, comentaros que ya est&aacute; solucionado ese&nbsp;</div>
<div>inconveniente y como compensaci&oacute;n os enviamos el c&oacute;digo de descuento:</div>
<h2 style="padding-left: 120px;">PZBDCJ1H</h2>
<div> </div>
<div>este c&oacute;digo solo se puede usar una vez por cliente y tiene un descuento del 10%.</div>
<div> </div>
<div>&iexcl; Gracias por confiar en El Ba&uacute;l del Peque y os esperamos en la web !</div>
<div> </div>
<div><!-- --></div>
<div id="pie">Si desea dejar de recibir nuestras ofertas, noticias y curiosidades envie un correo electr&oacute;nico con su nombre y el asunto <strong>[Baja Newsletter]</strong> al correo contacto@elbauldelpeque.com</div>
</div>