/* Label */
#minic label i{
    margin-right: 5px;
}
#minic label i:hover{
    cursor: pointer;
}
/* Menu */
#new-button{
    background: url(../img/ico-add-new.png) 50% 15% no-repeat;
}
#options-button{
    float: right;
    background: url(../img/ico-options.png) 50% 15% no-repeat;
}
/* Options */
#options .minic-content h3{
    float: left;
    clear: both;
    padding-top: 3px;
    width: 45%;
    margin-top: 30px;
    border-top: 1px solid #cecece;
    color: #575757;
    font-size: 16px;
    font-weight: normal;
}
#options .select{

}
    #options .select div{
        display: inline-block;
        width: 290px;
        margin-left: 10px;
    }
    #options .select div > *{
        width: 100%;
    }
    #options .select div label{
        text-align: center;
        float: left;
        margin-bottom: 5px;
        font-weight: bold;
        color: #000;
    }
    #options .select div select{
        height: 56px;
        margin-bottom: 5px;
    }
    #options .select input:hover{
        cursor: pointer;
    }   
    #options .select .first_select{

    }
    #options .select .second_select{

    }
#options .right{
    display: inline-block;
    width: 45%;
    margin: 0 5% 10px 0;
    text-align: left;
}
    #options .right h3{
        width: 100%;
    }
#options .switch-holder{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
    #options .switch-holder label{
        float: left;
        min-width: 30%;
        line-height: 26px;
        margin-right: 10px;
    }
/* Slides List */
#slides-navigation{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
#slides-navigation a{
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
}
#slides-navigation a.active{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
#slides-list{
    overflow-x: hidden;
    margin-top: 50px;
}
#slides-list .slides-holder{
    position: relative;
    -webkit-backface-visibility: hidden;
}
#slides-list .slides-holder ul{
    float: left;
}
    #slides-list .slide{
        margin-bottom: 2px;
    }
    #slides-list .slide.active{
        margin-top: 34px;
    }
    /* Slide header */
    #slides-list .slide-header{     
        padding: 5px;
        border: 1px solid #c5c8d1;
        background: #f0efea;
        font-size: 18px;
    }
    #slides-list .slide-header:hover{
        cursor: pointer;
    }
        #slides-list .slide-header > *{
            margin-right: 2%;
        }
        #slides-list .slide-header i{
            margin-right: 5px;
        }
        #slides-list .slide-header i:hover{
            cursor: move;
        }
    /* Slide body */
    #slides-list .slide-body .minic-top{
        display: inline-block;
        padding-bottom: 10px;
    }
    #slides-list .slide-body .minic-top .input-holder,
    #slides-list .slide-body .minic-top .switch-holder{
        float: left;
        display: inline-block;
        margin-right: 5%;
    }
    #slides-list .slide-body .minic-top .title{
        width: 30%;
    }
    #slides-list .slide-body .minic-top input{
        height: 30px;
        width: 100%;
        color: #696969;
        font-size: 18px;
        font-style: italic;
    }
    #slides-list .slide-body .minic-top input:focus{
        font-weight: normal;
    }
    #slides-list .slide-body .minic-content .image-holder img{
        width: 480px;
        margin-bottom: 10px;
    }
    