<div id="block_right" class="block products_block">
	<h4 class="title_block">&nbsp;&nbsp;{l s='Your newsletter subscription' mod='newsletteradmin'}</h4>
		<div class="block_content">
			&nbsp;&nbsp;{$message}
			<br/><br/>
				<form action="{$url}" method="post"><input type="submit" value="OK"  class="button" />
				</form></br> 
		</div>
</div>