﻿/* Bootstrap css starts*/

div#autocomplete_search_results .clearfix:before, div#autocomplete_search_results .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
div#autocomplete_search_results .clearfix:after {
  clear: both; }

div#autocomplete_search_results .col-xs-12 {
  width: 100%; 
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

div#autocomplete_search_results .row {
  margin-left: -15px;
  margin-right: -15px; }
  div#autocomplete_search_results .row:before, div#autocomplete_search_results .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  div#autocomplete_search_results .row:after {
    clear: both; }

div#autocomplete_search_results .col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}
div#autocomplete_search_results .col-sm-4, 
div#autocomplete_search_results .col-sm-8,
div#autocomplete_search_results .col-sm-12 {
	 position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  /*addipro*/
  width:50%;
  float:left;
}


@media (min-width: 768px) {
    div#autocomplete_search_results .col-sm-6 {
    float: left;
    width: 50%; }
    div#autocomplete_search_results .col-sm-4,
     div#autocomplete_search_results .col-sm-8 {
			float: left;
    }
  	div#autocomplete_search_results .col-sm-8 {
    width: 66.66667%; } 
    div#autocomplete_search_results .col-sm-12 {
    width: 100%; }   
}
/* Bootstrap css ends */

.autocomplete-suggestions {
border:1px solid #999;
background:#FFF;
cursor:default;
overflow:auto;
-webkit-box-shadow:1px 4px 3px rgba(50,50,50,0.64);
-moz-box-shadow:1px 4px 3px rgba(50,50,50,0.64);
box-shadow:1px 4px 3px rgba(50,50,50,0.64);
}

.autocomplete-suggestion {
white-space:nowrap;
overflow:hidden;
padding:2px 5px;
}

.autocomplete-selected {
background:#F0F0F0;
}

.autocomplete-suggestions strong {
font-weight:700;
color:#000;
}

.autocomplete-group strong {
font-weight:700;
font-size:16px;
color:#000;
display:block;
border-bottom:1px solid #000;
}

.autocomplete-no-suggestion,.autocomplete-group {
padding:2px 5px;
}

/* custom styles here */
div.autocomplete-suggestion img {
	float: left;
}
div.autocomplete-suggestion div.name {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
}
div.autocomplete-suggestion div.desc {
	clear: both;
}
div.autocomplete-suggestion {
	padding: 10px 5px !important;
	margin-bottom: 10px;
}
#autocompletesearch_content_result {
	position: absolute;
	z-index: 99;
	width: 100%;
	padding: 10px;
	background: #FFF;
	border-top: none;
	display:none;
}
div#autocompletesearch_content_result.show-border {
		border: 1px solid #eee;
		min-width:400px;
}
div#autocomplete_search_results {

}
div.result-separator {
	margin-bottom: 5px;
	clear: both;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
div.result-separator:last-child {
	border-bottom: none;
}
div.cart-wrap {
	clear: both;
}
div#autocomplete_search_results a.ajax_add_to_cart_button, div#autocomplete_search_results a.button.autocomplete-ajax-cart {
	font-size: 10px;
}
div#autocomplete_search_results a.ajax_add_to_cart_button span, div#autocomplete_search_results a.button.autocomplete-ajax-cart span {
	padding: 3px 6px;
}
div#autocomplete_search_results a.lnk_view {
	font-size: 10px;
}
div#autocomplete_search_results a.lnk_view span {
	padding: 3px 5px;
}
div#autocomplete_search_results .actual-price {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}
div#autocomplete_search_results img.item-image {
	/*width: 100%;*/
}
div#autocomplete_search_results .description {
	font-size: 12px;
}
div#autocomplete_search_results a.product-details {
	font-size: 14px;
	color: #333 !important;
}

div#autocomplete_search_results .cart-wrap {
	padding-top: 10px;
	margin-bottom: 10px;
	display: block;
	clear: both;
	overflow: hidden;
}
div#autocomplete_search_results .item-name {
	margin-bottom: 5px;
	font-weight: bold;
}
div#autocomplete_search_results .item-type {
	font-size: 14px;
	display: block;
	border-bottom: 1px dashed #E4E4E4;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.result-item-list {
	margin-bottom: 5px;
}
div#autocompletesearch_content_result div.empty_result {
	margin-bottom: 10px;
}
div.clear-fix-items {
	display: block;
	clear: both;
	overflow: hidden;
}
div.result-item.result-item-list {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
div.result-item.result-item-list:last-child {
	border-bottom: none;
}
div.category-desc {
	width: 100%;
	display: block;
	clear: both;
	padding-top: 10px;
	line-height: 18px;
}

.manufacturer-image .item-name {
	margin-top: 40px;
}
div#autocompletesearch_content_result .product-cart-quantity {
	width: 70%;
	padding: 0px 4px;
	margin: 2px 0 0 0;
	text-align: center;
}
div#autocompletesearch_content_result .results-wrap {
	overflow: hidden;
}

div#autocompletesearch_content_result .autocomplete-ajax-cart span {
	background: #0084bf;
	border: 1px solid #06b2e6;
}
