#promo_show {
	width:480px;
	margin-right:20px;
	float:left;	
	height:460px;
}
.promo_section {
	width:460px;
	float:left;
}
.promoborder {
	border:1px solid #e0e0e0;
	overflow: hidden;
	position: relative;
	height:458px
}

.camera_pag {
	position: absolute;
bottom: 30px;
right: 20px;
}
.promo_section ul li {
	width:220px;
	height:220px;
	overflow:hidden;
	float:left;
	margin-right:20px;
	margin-top:20px;
	position:relative;
	vertical-align: top;
}
.promo_section ul li .promoborder {
	height: 218px;
	width:218px;
	vertical-align: top;
	position: absolute;
	top:0;
	left:0;	
	background-position: 50% 50%;
	background-color: #FFF;
	background-repeat: no-repeat;
	text-align:center;
}
.promo_section ul li .promoborder .productInfo { text-align: left }
.promo_section ul li a.imgLink {	
	height: 220px;
	width:220px;
	display: block;
	}
.promo_section ul li img {
	width:100%;
	height:auto;	
}
.promo_section ul li.full_height img {
	width:auto;
	height:100%;	
}
.promo_section ul li.odd {margin-right:0px;}
.promo_section ul li.top_item {margin-top:0px;}
.productInfo {
	width:100%;
	height:218px;
	position:absolute;
	top:121px;	
}
.promo_section ul li:hover .productInfo {
	top:0;
}
.promo_section .productInfo .info {
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	padding:10px 15px;
	opacity:1;
}
.promo_section li:hover .productInfo .info {
	opacity:0;
	filter:alpha(opacity=0);
}
.productInfo .wrap {
	background:#fff;
	opacity:0.6;
	filter:alpha(opacity=60);
	width:100%;
	height:218px;
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
}
.productInfo .manufacturer_name {
	font-size:14px;
	line-height:18px;
	color:#010101;
}
.productInfo .reduction {
	font-size:18px;
	line-height:18px;
	color:#e24c44;
}	
.productInfo .name {
	display:block;
	width:100%;
	font:normal 12px/14px Georgia;
	color:#666;
	padding-bottom:10px;
}
.button_container {display: none;}
.camera_target_content .button_container {
	display:inline-block;
	padding:6px 14px;
	color:#fff;
	position:absolute;
	z-index:99;
	text-transform:uppercase;
	top:300px;
	left:100px;
}
.promo_section li .price_with_reduction {
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
	text-align:center;
	padding-top:75px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.promo_section li .price_with_reduction span.now {
	color:#000;
	font-size:25px;
	line-height:40px;
	display:block;
	width:100%;
}
.promo_section li .price_with_reduction span.price {
	color:#000;
	font-size:24px;
	line-height:30px;
	display:block;
	width:100%;
}
.promo_section li:hover .price_with_reduction {
	opacity:1;
	filter:alpha(opacity=100);
}
#blocksliderpluspromo {
	width:100%;
	overflow:hidden;
	margin-top:20px;
}
ul.camera_pag_ul li span {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	height: 11px;
	width: 11px;
	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
ul.camera_pag_ul li:hover span,
ul.camera_pag_ul li.cameracurrent span {
	background-position: 0 -11px;
	background-repeat: no-repeat;
	background-color: transparent;
}
ul.camera_pag_ul li {
	cursor: pointer;
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 20px 0 0;
	text-align: center;
	text-indent: -9999px;
	width: 11px;
}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 454px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	bottom: 0;
	display: block;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
}
.camera_caption > div {
	padding: 10px 20px;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {	
	height: 11px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 11px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.camera_prev {
	left: 0;
}
.camera_prev > span {
	display: block;
	height: 40px;
	width: 40px;
	background:url(../../img/arrow-grey-left.png) no-repeat 50% 50%;
}
.camera_next {
	right: 0;
}
.camera_next > span {
	display: block;
	height: 40px;
	width: 40px;
	background:url(../../img/arrow-grey-right.png) no-repeat 50% 50%;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	display: block;
	height: 40px;
	width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	cursor: pointer;
	display: inline-block;
	height: 11px;
	margin: 0px 5px;
	position: relative;
	text-indent: -9999px;
	width: 11px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
.cameraContent .item_0.button_container {
	left:61%;
	top:60%;
}
.cameraContent .item_1.button_container {
	left:65%;
	top:55%;
}
.cameraContent .item_2.button_container {
	left:65%;
	top:55%;
}
.cameraContent .item_3.button_container {
	left:69%;
	top:52%;
}
.cameraContent .item_4.button_container {
	left:69%;
	top:62%;
}
.cameraContent .item_5.button_container {
	left:333px;
	top:325px;
}
.promo_section li .button {
	display:inline-block;
	padding:6px 14px;
	color:#fff;
	position:absolute;
	bottom:9px;
	left:14px;
	z-index:9;
	text-transform:uppercase;
}
.not_special .price_with_reduction {display: none;}
.promo_section li:hover .productInfo.not_special .wrap {
	opacity:0 !important;
	filter:alpha(opacity=0);
}
.promo_section ul li:hover .productInfo.not_special {
	top:121px
}
#promo_show, .promo_section, .promo_section ul li { 
    transition:all .4s linear; 
    -o-transition:all .4s linear; 
    -moz-transition:all .4s linear; 
    -webkit-transition:all .4s linear;
}
.promo_section li .button,
.productInfo,
.promo_section li .price_with_reduction,
.promo_section .productInfo .info,
.pix_diapo .button { 
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
#promo_show .button_small, #promo_show .button_container {
	transition-duration: .5s;
	-moz-transition-duration: .5s; /* Firefox 4 */
	-webkit-transition-duration: .5s; /* Safari and Chrome */
	-o-transition-duration: .5s; /* Opera */
}
#promo_show .button_small {
	line-height: 39px;
	padding: 0 20px;
	text-transform: none;
	font-size:23px
	}
#promo_show .button_small span {
	padding-right: 14px;
}
#promo_show .button_small span {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAYAAACQN/8FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKdJREFUeNqM0TEKwkAQQNFEiKBgRPAy2nmCgDfwJlYa8AQ2YuNZLCzsxcZKVBC0FHH8q7M4rFtk4RFCPsMsSUUkqXJq+iwh6oDir3QT0cQMD/meE4b67SMxLxmmJj6jiIVOHSVeGh/95DB0GhjjYtYYxUKng638zjoW5ZjjrtEegzBqYWF2dFE/3LGNJZ4m6oW37mJlop2fFIYT3HDFxk7y0qr/+i3AAJ3LWajvoZfhAAAAAElFTkSuQmCC) no-repeat 100% 50%;
}