/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
#small_slider {
	margin-bottom: 20px;
}
#small_slider .nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
#small_slider .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
#small_slider .nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
#small_slider .nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
#small_slider .nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
#small_slider .nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
#small_slider .nivo-box img { display:block; }


/* Direction nav styles (e.g. Next & Prev) */
#small_slider .nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
#small_slider .nivo-prevNav {
	left:0px;
}
#small_slider .nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
#small_slider .nivo-controlNav {
	text-align:center;
	padding: 0;
	position: absolute;
	bottom: -25px;
	left:0;
	width:100%;
	z-index: 9099;
}
#small_slider .nivo-controlNav a {
	cursor:pointer;
}
#small_slider .nivo-controlNav a.active {
	font-weight:bold;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

#small_slider.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../../img/loading.gif) no-repeat 50% 50%;
    margin: 0 auto;
}
#small_slider.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#small_slider.theme-default .nivoSlider a {
	border:0;
	display:block;
}

#small_slider.theme-default .nivo-controlNav {
	text-align: center;
	padding: 0;
}
#small_slider.theme-default .nivo-controlNav a {
	display:inline-block;
	width:11px;
	height:11px;	
	text-indent:-9999px;
	border:0;
	margin:0 2px
}
#small_slider.theme-default .nivo-controlNav a.active,
#small_slider.theme-default .nivo-controlNav a:hover {
	background-position: 0 -11px;
	
}

#small_slider.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../../img/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#small_slider.theme-default:hover .nivo-directionNav a { opacity: 1; }
#small_slider.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
#small_slider.theme-default a.nivo-prevNav {
	left:15px;
}
#minicslider_adv {position:relative; }
#small_slider #minicslider_adv .nivo-caption {

	position:absolute;
	bottom:0;
	left:0;
	height:80px;
	width:100%;
	background:rgba(0,0,0,.6);
	line-height:30px;
	font-size:24px !important;
	font-weight:normal;
	z-index:999;
	text-align:center;
	color:#fff;
}
#small_slider #minicslider_adv .nivo-caption h3 {color:#fff; font-size:24px !important; padding:10px 0 0 0} 
#small_slider #minicslider_adv .nivo-caption p {color:#ddd; text-transform:uppercase;font-size:24px !important;padding: 0}

.nivoSlider a.nivo-imageLink
{
background:white; 
filter: alpha(opacity=0);
opacity: 0;
}