/* !CSS RESET */
/* prefix declarations */

/* !Keyframes */
#sequence-theme {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top:25px;
  padding-bottom:1px;
  border-bottom:1px solid #8a8a8c;
  -webkit-backface-visibility: hidden;
  /* prevent graphical glitches in WebKit browsers when using transitions */
  /*when in fallback mode (for browsers that don't support transitions) hide anything outside of the Sequence container*/
  /* Preloader */
  /* !Preloader */
  /* Frame Animations */
  /* !Frame Animations */
}
#sequence-theme #sequence {
  height: 445px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#sequence-theme #sequence.sequence-fallback {
  overflow: hidden;
}
#sequence-theme h2 {
  font-family: 'Magra', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
#sequence-theme h3 {
  font-family: 'Magra', sans-serif;
  font-size: 20px;
}
#sequence-theme .controls {
  height: 49px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 198px;
  z-index: 9999;
  list-style:none
}
#sequence-theme .prev,
#sequence-theme .next {
  opacity: 0.7;
  filter: alpha(opacity = 70);
}
#sequence-theme .next,
#sequence-theme .prev,
#sequence-theme .pause {
  position: absolute;
  z-index: 10000;
  top: 10px;
}
#sequence-theme .next {
  background: url("../images/bt-next.png") 50% 4px no-repeat;
  height: 34px;
  left: 128px;
  width: 41px;
}
#sequence-theme .next:hover,
#sequence-theme .prev:hover,
#sequence-theme .pause:hover {
  background-position: 50% -26px;
}
#sequence-theme .prev {
  left: 28px;
  background: url("../images/bt-prev.png") 50% 4px no-repeat;
  height: 34px;
  width: 41px;
}
#sequence-theme .pause {
  background: url("../images/bt-pause.png") 50% 4px no-repeat;
  cursor: pointer;
  height: 33px;
  left: 78px;
  width: 42px;
}
#sequence-theme .pause.paused {
  background: url("../images/bt-play.png") 50% 4px no-repeat;
  height: 33px;
  left: 78px;
  width: 42px;
}
#sequence-theme .pause.paused:hover {
  background-position: 50% -25px;
}
#sequence-theme .status {
  background: url("../images/status-bar.png") -119px 0 repeat-y;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 6px;
  margin: 0 auto;
  position: relative;
  top: 4px;
  width: 118px;
}
#sequence-theme .status.paused {
  -webkit-animation: paused 1s linear alternate infinite;
  -moz-animation: paused 1s linear alternate infinite;
  -ms-animation: paused 1s linear alternate infinite;
  -o-animation: paused 1s linear alternate infinite;
  animation: paused 1s linear alternate infinite;
}
#sequence-theme .status.active {
  -webkit-animation: status-bar 4s linear;
  -moz-animation: status-bar 4s linear;
  -ms-animation: status-bar 4s linear;
  -o-animation: status-bar 4s linear;
  animation: status-bar 4s linear;
}
#sequence-theme .pause-icon {
  right: 20px;
  position: absolute;
  bottom: 20px;
}
#sequence-theme #sequence-preloader {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
}
#sequence-theme #sequence-preloader img {
  background: #ff9933;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  opacity: 0;
  filter: alpha(opacity = 0);
  position: relative;
  top: -50%;
  width: 12px;
  -webkit-animation: preload 1s infinite;
  -moz-animation: preload 1s infinite;
  -ms-animation: preload 1s infinite;
  -o-animation: preload 1s infinite;
  animation: preload 1s infinite;
}
#sequence-theme #sequence-preloader .preloading {
  height: 12px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  width: 48px;
}
#sequence-theme #sequence-preloader img:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#sequence-theme #sequence-preloader img:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#sequence-theme #sequence-preloader .preloading-complete {
  opacity: 0;
  filter: alpha(opacity = 0);
  visibility: hidden;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sequence-theme .nav {position: absolute; bottom:20px; left:50%; z-index:9999}
#sequence-theme .nav li { width:10px; height: 10px; background: #73726e; float: left; margin-right: 10px; cursor: pointer; list-style-type: none; display: block; z-index:9999;
  -webkit-border-radius: 50%;
          border-radius: 50%;
 }
#sequence-theme .nav li.active {background:#e17365}
#sequence ul li {padding: 0;margin: 0; display: block; height:445px; opacity:1;filter: alpha(opacity = 100);}
#sequence ul li img {position: absolute;}
.text_section_width input,
.text_section_pos_top input, 
.text_section_pos_left input {
  margin-bottom:10px
  }
.slide-text {
  position:absolute
  }
#sequence {border-bottom:2px solid #000; overflow: hidden;}
#sequence .slide-text h3 {
  font-size: 50px;
  font-weight: normal;
  color:#3a3a3c;
  line-height: 52px;
  font-family: TrajanProRegular;
  padding:0
}
#sequence .slide-text h4 {
    color:#3a3a3c;
    font-size:28px;
    padding: 0 20px;
    background:#e17365;
    margin-bottom:10px;
    font-family: "LMRoman10Regular";
    line-height: 45px;
    font-weight: normal;
    display:inline-block;
}
#sequence .slide-text h5 {
    color:#ededed;
    font-size:28px;
    padding: 0 20px;
    background:#7d7b77;
    margin-bottom:20px;
    font-family: "LMRoman10Regular";
    line-height: 45px;
    font-weight: normal;
    display:inline-block;
}
#sequence .slide-text p {
  color:#3a3a3c;
  font-family:Georgia;
  font-size: 16px;
  line-height: 24px;
}

.mainImg {
  top:0; 
  left:0; 
    -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
opacity:0; filter: alpha(opacity = 0);
}
#sequence .animate-in .mainImg {opacity:1; filter: alpha(opacity = 100);transition-delay: .7s;
-moz-transition-delay: .7s; 
-webkit-transition-delay: .7s;
-o-transition-delay: .7s;}
#sequence .animate-out .mainImg {opacity:0; filter: alpha(opacity = 0);}




/* --------------------------------------------------------------------- */
/*                  styles for mobile devices                             */
/* --------------------------------------------------------------------- */

@media (min-width : 768px) and (max-width : 1024px) { /* tablet portrait */
  #sequence-theme #sequence {
    height:337px;    
  }
  #sequence ul li img {
    transform: scale(0.76) !important;
    transform-origin:0 0;
    -moz-transform: scale(0.76) !important;
    -moz-transform-origin:0 0;
    -webkit-transform: scale(0.76) !important;
    -webkit-transform-origin:0 0;
    -o-transform: scale(0.76) !important;
    -0-transform-origin:0 0;
  }
  #sequence .slide-text h4, #sequence .slide-text h5 { font-size: 16px !important; margin-bottom:10px}
  #sequence .slide-text p { font-size: 16px; line-height: 20px }
}
@media (min-width : 480px) and (max-width : 767px) { /* phone landscape */
  #sequence-theme #sequence {
    height:210px
  }
  #sequence ul li img {
    transform: scale(0.47) !important;
    transform-origin:0 0;
    -moz-transform: scale(0.47) !important;
    -moz-transform-origin:0 0;
    -webkit-transform: scale(0.47) !important;
    -webkit-transform-origin:0 0;
    -o-transform: scale(0.47) !important;
    -0-transform-origin:0 0;  
  }  
  #sequence ul li p { display: none;}
  #sequence ul li h3, #sequence ul li h4, #sequence ul li h5 {font-size:14px !important; line-height:17px !important; padding:5px !important}

}
@media (max-width : 479px) { /* phone portrait */
  #sequence-theme #sequence {
    height:134px
  }
  #sequence ul li img {
    transform: scale(0.3) !important;
    transform-origin:0 0;
    -moz-transform: scale(0.3) !important;
    -moz-transform-origin:0 0;
    -webkit-transform: scale(0.3) !important;
    -webkit-transform-origin:0 0;
    -o-transform: scale(0.3) !important;
    -0-transform-origin:0 0; 
  }
  #sequence ul li p { display: none;}
#sequence ul li h3, #sequence ul li h4, #sequence ul li h5 {font-size:10px !important; line-height:17px !important; padding:5px !important}
  #sequence .animate-in .slide-text {
    top:0
  }
}