.slide-text-18 {
width: 34%;
}
.slide-text-18 {
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-ms-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 17%;
left: 65%;
filter: alpha(opacity = 0);
opacity: 0;
}
.animate-in .slide-text-18 {
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-ms-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 17%;
left: 65%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out .slide-text-18 {
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-ms-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 17%;
left: 65%;
filter: alpha(opacity = 0);
opacity: 0;
}
#slide18 .slideImg0 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: -110%;
left: 16%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-in#slide18 .slideImg0 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 15%;
left: 16%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide18 .slideImg0 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: -110%;
left: 16%;
filter: alpha(opacity = 100);
opacity: 1;
}
#slide18 .slideImg1 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 74%;
left: 15%;
filter: alpha(opacity = 0);
opacity: 0;
}
.animate-in#slide18 .slideImg1 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 74%;
left: 15%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide18 .slideImg1 {
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 74%;
left: 15%;
filter: alpha(opacity = 0);
opacity: 0;
}
#slide18 .slideImg2 {
-webkit-transition-duration: .7s;
-moz-transition-duration: .7s;
-ms-transition-duration: .7s;
-o-transition-duration: .7s;
transition-duration: .7s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 142%;
left: 8%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-in#slide18 .slideImg2 {
-webkit-transition-duration: .7s;
-moz-transition-duration: .7s;
-ms-transition-duration: .7s;
-o-transition-duration: .7s;
transition-duration: .7s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 41%;
left: 8%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide18 .slideImg2 {
-webkit-transition-duration: .7s;
-moz-transition-duration: .7s;
-ms-transition-duration: .7s;
-o-transition-duration: .7s;
transition-duration: .7s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 142%;
left: 8%;
filter: alpha(opacity = 100);
opacity: 1;
}
#slide18 .slideImg3 {
-webkit-transition-duration: .8s;
-moz-transition-duration: .8s;
-ms-transition-duration: .8s;
-o-transition-duration: .8s;
transition-duration: .8s;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
top: 52%;
left: -31%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-in#slide18 .slideImg3 {
-webkit-transition-duration: .8s;
-moz-transition-duration: .8s;
-ms-transition-duration: .8s;
-o-transition-duration: .8s;
transition-duration: .8s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 75%;
left: 2%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide18 .slideImg3 {
-webkit-transition-duration: .8s;
-moz-transition-duration: .8s;
-ms-transition-duration: .8s;
-o-transition-duration: .8s;
transition-duration: .8s;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
top: 52%;
left: -31%;
filter: alpha(opacity = 100);
opacity: 1;
}
#slide18 .slideImg4 {
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-ms-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
top: 132%;
left: 61%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-in#slide18 .slideImg4 {
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-ms-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
top: 61%;
left: 51%;
filter: alpha(opacity = 100);
opacity: 1;
}
.animate-out#slide18 .slideImg4 {
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-ms-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
top: 132%;
left: 61%;
filter: alpha(opacity = 100);
opacity: 1;
}
