.slide-text-8 {
width: 34%;
}
.slide-text-8 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in .slide-text-8 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out .slide-text-8 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
#slide8 .slideImg0 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in#slide8 .slideImg0 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out#slide8 .slideImg0 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
#slide8 .slideImg1 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in#slide8 .slideImg1 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out#slide8 .slideImg1 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
#slide8 .slideImg2 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in#slide8 .slideImg2 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out#slide8 .slideImg2 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
#slide8 .slideImg3 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in#slide8 .slideImg3 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out#slide8 .slideImg3 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
#slide8 .slideImg4 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-in#slide8 .slideImg4 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
.animate-out#slide8 .slideImg4 {
-webkit-transition-duration: s;
-moz-transition-duration: s;
-ms-transition-duration: s;
-o-transition-duration: s;
transition-duration: s;
-webkit-transform: rotate(deg);
-moz-transform: rotate(deg);
-ms-transform: rotate(deg);
-o-transform: rotate(deg);
transform: rotate(deg);
top: %;
left: %;
filter: alpha(opacity = 0);
opacity: ;
}
