.flexmenu {	
	background: url(data:image/gif;base64,R0lGODlhAQAIAPECAIqKjAAAAPn5+QAAACH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAACACwAAAAAAQAIAEACA4x1UAA7) repeat-x 0 100%;
	width:100%;
	margin: auto;
}
.flexmenu > ul {
	height: 43px;
	list-style-type: none;
	position: relative;
	width:960px;
	margin:0 auto;
}
.flexmenu ul {
	list-style: none;
	}
.flexmenu > ul > li {
	display: block;
	float: left;
	height: 43px;	
}
#page .flexmenu > ul > li a {	
	height: 43px;
	padding: 0 18px;
	text-transform: uppercase;
	color: #3a3a3c;
	font-size: 19px;
	line-height: 35px;
	display: block;
}
#page .flexmenu > ul > li > a span {	
	padding: 0 10px;
	}
#page .flexmenu > ul > li > a:hover {color:#e17365 !important}
#page .flexmenu > ul > li:first-child > a {	
	padding-left: 0px;
}
#page .flexmenu ul li ul li a:hover,
#page .flexmenu ul li ul li.current a {	
	text-decoration: none;	
	color:#222 !important
	}
.flexmenu > ul > li div.submenu {
	visibility:hidden;
	overflow: hidden;
	background: #f9f9f9;
	width:100%;	
	position: absolute;
	top:43px;
	left:0;
	z-index: 9999;
	opacity:0;
	 -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	 -ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.15);
}
.no-touch .flexmenu > ul > li div.submenu {
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	}
#page .flexmenu > ul > li:hover > a,
#page .flexmenu > ul > li.current > a {
	color:#e1423c
	}
.flexmenu > ul > li:hover div.submenu {
	visibility: visible;	
	opacity:1;
	}
.flexmenu div.submenu .left-section {
	width:220px;
	float:left;
}
.flexmenu div.submenu .right-section {
	width:220px;
	float:right;
	min-height: 20px;
}
.flexmenu div.submenu .main-section {
	width:100%;
	float:left;
	min-height: 20px;
}
.flexmenu div.submenu .main-section.only-left,
.flexmenu div.submenu .main-section.only-right {
	width:740px;
}
.flexmenu div.submenu .main-section.two-columns {
	width:520px;	
}
.flexmenu div.submenu .main-section.two-columns ul.main-section-links > li {
	width:146px
	}
.flexmenu div.submenu .bottom-section {
	width:100%;
	float:none;
	clear:both;
}
.flexmenu div.submenu .bottom-section .section-indent {
	padding-top: 0;
	}
.sections-contaier {
	float:left;
	width:740px;
}
.sections-contaier.full-width {
	width: 100%;
	}
.flexmenu .section-indent {
	padding: 22px 20px 30px;
	overflow: hidden;
	}
/* main section links */
#page ul.main-section-links > li > a {
	height: auto;
	font-size:14px;
	line-height: 30px;
	color:#000;
	text-transform: uppercase;
	padding: 0;
	}
ul.main-section-links > li:nth-child(4n+4) {
	margin-right:0px
	}
ul.main-section-links {
	list-style-type: none;
	}
ul.main-section-links > li {
	vertical-align: top;
	margin-right: 20px;
	width: 160px;
	display: inline-block;
	line-height: 30px;
	height: auto;
	}
/* end main section links */
/* third level */
#page ul.main-section-links ul.main-section-sublinks {
	margin: 1px 0 22px;
	}
#page ul.main-section-links ul.main-section-sublinks > li {
	margin: 0;
	}
#page ul.main-section-links ul.main-section-sublinks > li > a {
	color: #969696;
	text-transform: none;
	line-height: 16px;
	padding: 4px 0;
	height: auto;
	font-size:13px;
	margin: 0;
	}
#page ul.main-section-links ul.main-section-sublinks.level_1 {
	margin: 0;
	}
#page ul.main-section-links ul.main-section-sublinks.level_1 > li > a {
	padding-left: 10px;
	color:#999
	}
/* left section */
/* left section products */
#page .flexmenu ul.left-section-products {
	width:152px;
	margin:0 auto;
}
#page .flexmenu ul.left-section-products li {
	margin-bottom: 25px;
	text-align: center;
	}
#page .flexmenu ul.left-section-products li a {
	padding: 0;
	}
#page .flexmenu ul.left-section-products li a.product-image-link {
	display: block;
	height: auto;
	line-height: 12px;
	}
#page .flexmenu ul.left-section-products li a img {
	width: 100%;
	height: auto;
	border:1px solid #dedede;
	margin-bottom: 10px;
}
/* end left section products */
/* right section */
/* right section products */
#page .flexmenu ul.right-section-products {
	width:152px;
	margin:0 auto;
	}
#page .flexmenu ul.right-section-products li {
	text-align: center;
}
#page .flexmenu ul.right-section-products li a {
	padding: 0;	
}
#page .flexmenu ul.right-section-products li a.product-image-link {
	display: block;
	height: auto;
	line-height: 12px;
	}
#page .flexmenu ul.right-section-products li a img {
	width: 100%;
	height: auto;
	border:1px solid #dedede;
	margin-bottom: 10px;
}
#page .flexmenu .left-title,
#page .flexmenu .right-title {
	font-size: 14px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	text-indent:15px
}
/* end right section products */
/* main section */

#page .flexmenu ul.main-section-products li {
	width:142px;
	float: left;
	margin: 0 50px 20px 0;
	}
#page .flexmenu .main-section ul.main-section-products li:nth-child(5n+5) {
	margin-right: 0;
}
#page .flexmenu .main-section ul.main-section-products li {
	width:150px;
	text-align: center;
	margin-right: 42px;
}
#page .flexmenu .main-section.two-columns ul.main-section-products li {
	width:140px;
	margin-right: 30px;
}
#page .flexmenu .main-section ul.main-section-products li img {
	margin-bottom: 25px;
	border:1px solid #dedede
}
#page .flexmenu div.submenu .main-section.only-left li,
#page .flexmenu div.submenu .main-section.only-right li {
	width:160px
	}
#page .flexmenu div.submenu .main-section.only-left li:nth-child(4n+4),
#page .flexmenu div.submenu .main-section.only-right li:nth-child(4n+4) {
	margin-right: 0;
}
#page .flexmenu div.submenu .main-section.two-columns li:nth-child(3n+3) {
	margin-right: 0;
}
#page .flexmenu div.submenu .main-section.full-width li:nth-child(5n+5) {
	margin-right: 0;
	}
#page .flexmenu ul.main-section-products li a {
	padding: 0;
	}
#page .flexmenu ul.main-section-products li a.product-image-link {
	display: block;
	height: auto;
	line-height: 12px;
	}
#page .flexmenu ul.main-section-products li a img {
	width: 100%;
	height: auto;
}
/*  main section manufacturers */

#page .flexmenu div.submenu .main-section.full-width li.menu-manufacturer:nth-child(5n+5) {margin-right: 35px;}
#page .flexmenu div.submenu .main-section.full-width li.menu-manufacturer:nth-child(8n+8) {margin-right: 0px;}
#page .flexmenu .main-section li.menu-manufacturer a {background-color:#fff; border:1px solid #e7e7e7}
#page .flexmenu .main-section li.menu-manufacturer a:hover {background-color:#f1f1f1}
#page .flexmenu .main-section li.menu-manufacturer a img {display: block;}

/*  END main section manufacturers */
#page .flexmenu .price,
#page .flexmenu .old_price {
	font-size: 24px;
	color:#c5988b;
	display: block;
	line-height: 30px;
	}
#page .flexmenu .old_price {
	color:#ccc;
	text-decoration: line-through;
	font-size: 22px;
}
#page .flexmenu .menu-product-name {
	text-transform: none;
	color: #969696;
	font-size: 14px;
	height: auto;
	margin-bottom: 12px;
	font-family: Georgia;
	line-height: 17px;
	}
/* bottom section */
#page .flexmenu ul.bottom-section-links li {
	width:auto;
	display: inline-block;
}
.bottomimage {max-width:100%}
#page .flexmenu ul.bottom-section-links li ul {display: none;}
.rightimage, .leftimage { width:100%; max-width:180px; }
.rightimage {margin-top: 8px;}
.bottomrimage { max-width:912px; width:100%}
#page .flexmenu ul li.menu-manufacturer {width:84px; height: 64px; float:left; margin:0 35px 20px 0; position: relative; padding: 0;}
#page .flexmenu ul li.menu-manufacturer a{padding: 0;}
#page .flexmenu ul li.menu-manufacturer a img {width: 100%; height: auto;}
#page .flexmenu .bottom-title {color:#272727; font-size: 18px; line-height: 14px; border-bottom: 1px solid #ebebeb; margin-bottom: 30px; height: 11px;}
#page .flexmenu .bottom-title span {background:#f9f9f9; padding-right: 5px;}


#page .flexmenu ul li .imagelink,
#page .flexmenu ul li .bottom-section-links {padding: 0; display: inline-block; height: auto;}
.sticky {  
    position: fixed;  
    left: 0;  
    top: 0;
    width:100%;
    background-color: #f9f9f9;
    z-index: 1000; 
}
.sticky .flexmenu-wrapper,
.sticky .flexmenu {  
	width:960px;
	margin:0 auto;
}
.mobileMenuTitle {display: none;}
#page .flexmenu > ul > li a.opener {display: none;}
@media (min-width: 980px) {
	.sticky .flexmenu-wrapper,
	.sticky .flexmenu {  
		width:100%;
		margin:0 auto;
	}
	.sticky .flexmenu > ul { width: 960px; margin: 0 auto;  }
}