#categList {
	width:100%;
	height: 150px;
}
.categoriesArea {width:30%; float: left;}
.categoriesArea label {text-align:left; line-height: 30px;}
.productsArea {width: 30%;float: left; margin-left: 20px;}
.productsArea .container { background: #FFF; border:1px solid #ccc; height: 150px; overflow:auto}
.productsArea label {width:auto !important; float:none !important; text-align:left;line-height: 30px;}
.prodSection {width:80px; float: left;}
.prodSection img {width:auto;margin:0 auto; clear:both}
.prodSection span {display: block;}
.submitButton {padding-top: 10px !important;}
label.l {width:300px; line-height: 13px; padding-top: 0;}