#isotopeSort .block_content {
	padding: 0;
	width:103%;
}
#isotopeSort .option-combo {margin-top: 40px;}
#isotope li {
	margin:0 20px 20px 0;
	width:176px;
	display:block;
	float:left;

}
#isotopeSort li.last_item_of_line  {margin-right:0;}
#isotopeSort .s_title_block,  #isotopeSort h5 {
	line-height:20px;
	font-size:15px;
	color:rgb(122, 120, 116);
	font-family: Georgia;
	margin-bottom:10px;
	font-weight:normal;
	text-align: center;
}
#isotopeSort .s_title_block a {
	color:#969696
}

#isotopeSort .product_image {
	display:block;
	position:relative;
	overflow:hidden;
	text-align:center;
	height:auto;
	vertical-align:middle;
	border:1px solid #ececec;
}
#isotopeSort .product_image img {width:100%; display: block;}
#isotopeSort span.new {
	display: block;
	position: absolute;
	top: 15px;
	right:-30px;
	padding: 2px 4px;
	width: 101px;
	font-size:16px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform: rotate(45deg);
	background-color: #e17365;
	transform: rotate(45deg);  /* Newer browsers */
}
.isotope_bottom_block {	
	padding:15px 5px;
	position:relative;
	overflow:hidden;
}
.isotope_bottom_block {text-align: center; position: relative;}
#isotopeSort li .isotope_bottom_block .button,
#isotopeSort li .isotope_bottom_block .exclusive {display: inline-block; opacity: 0; margin-top:5px; z-index:99}
#isotopeSort li:hover .isotope_bottom_block .button,
#isotopeSort li:hover .isotope_bottom_block .exclusive {display: inline-block; opacity: 1; }
#isotopeSort li:hover .price_container { opacity:0 }
#isotopeSort .product_desc {}
#isotopeSort .product_desc,
#isotopeSort .product_desc a {
	color:#666
}
#isotopeSort .lnk_more {
	display:inline;
	padding-right:10px;
	font-weight:bold;
	font-size:10px;
	color:#0088cc;
	background:url(img/arrow_right_1.png) no-repeat 100% 3px;
}
#isotopeSort .price_container {
	padding:10px 0;
	text-align: center;
	position: absolute;
	bottom:7px;
	left: 0;
	width:100%
}
#isotopeSort .price {
	font-size:14px;
	color:#c5988b;
	font-size: 24px;
	margin:7px 0;
}
#isotopeSort li .ajax_add_to_cart_button {
	
}
#isotopeSort li span.exclusive {display:none;}

#buttons {display:inline-block; float:left }

.filter li {
	display:inline-block;
	font-size:16px;
	font-style: italic;
	margin:0px 10px 20px 0;
	padding: 0 20px;
	line-height: 30px;
	border:1px solid #e0e0e0;
	text-align:center;
	background-color: #FFF;
}
.filter li a {
	color:#666;
}
.filter li a.selected {
	color:#E08270
	}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.isotope_bottom_block .button.exclusive { min-width: 77px}

#isotope li:nth-child(5n+5) {
}
/* ie7 fix */
#isotopeSort .filter li {
float:left \9;
}
.isotope-old-price {
  font-size: 20px !important; 
  color:#aaa !important; 
  text-decoration:line-through;
}