body #header #header_logo, .logo-container{
				left:0px; top:58px; }
#header_logo .logo, #logofont_example {
				font: normal 80px/80px "Georgia";				
				color:#333333
}
#header_logo .slogan, #sloganfont_example {
				font-size:12px; 
				font-family:"Georgia"; 
				color:#868686}
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, #page a.button_mini, #page a.button_small, #page a.button, #page a.button_large, #page a.exclusive_mini, #page a.exclusive_small, #page a.exclusive, #page a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled, .cart_navigation .button, .cart_navigation .button_large, .cart_voucher .submit input.button, .promo_section li .button, #tab_4 .button, button.exclusive {
				background-color: #7a7975; 
				color: #ffffff; 
				font-family: "LMRomanCaps10-Regular"}
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover, input.button_mini_disabled:hover, input.button_small_disabled:hover, input.button_disabled:hover, input.button_large_disabled:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, input.exclusive_mini_disabled:hover, input.exclusive_small_disabled:hover, input.exclusive_disabled:hover, input.exclusive_large_disabled:hover, a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, span.button_mini:hover, span.button_small:hover, span.button:hover, span.button_large:hover, span.exclusive_mini:hover, span.exclusive_small:hover, span.exclusive:hover, span.exclusive_large:hover, span.exclusive_large_disabled:hover, .cart_navigation .button:hover, .cart_navigation .button_large:hover, .cart_voucher .submit input.button:hover, #idTab4 ul li .ajax_add_to_cart_button:hover, .promo_section li .button:hover, #tab_4 .button:hover, button.exclusive:hover {
				background-color: #e1423c; 
				color: #ffffff}
#columns h1, #columns h1 a, #columns h2, #columns h2 a, #columns h3, #columns h3 a, #columns h4, #columns h4 a, #columns h5, #columns h5 a, h2.productscategory_h2, .layered_subtitle, #isotopeSort h5, .tabcontent #heading-example h5 {
				font-family: "LMRomanCaps10-Regular"; 
				color: #969696}
, .tabcontent #heading-example h6 {
				font-family: "LMRomanCaps10-Regular"; 
				color: #626262}
p, .tabcontent #text-example {
				font-family: "Georgia"; 
				color: #999}
#page a, .tabcontent #link-example a {
					color: #797878}
.tabcontent #link-example a:hover{
					color: #333333}
body, #header_user #shopping_cart, #footer {background-color: #000}
body #pattern {}
#body {background:#f00}