.aw_price, #footer .facebook-box .fb_fans a, #left_column .block li a:hover, #page .cat_desc a.lnk_more, .breadcrumb, #product_comments_block_tab .comment_author_infos span span, p.required  sup, #footer #twitter_block.block ul li a {
				color:#ffbd00}
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu ul li:hover, .sf-menu ul li.sfHover,	.sf-menu ul li a:focus, .sf-menu ul li a:hover, .sf-menu ul li a:active, #aw_slider_container .bx-wrapper-mod .bx-pager.bx-default-pager a:hover, #aw_slider_container .bx-wrapper-mod .bx-pager.bx-default-pager a.active, 	.bx-wrapper-mod .bx-controls-direction a:hover,	#banners_carousel .flex-direction-nav li a:hover, .nivo-controlNav a:hover, .nivo-controlNav a.active, .theme-default .nivo-directionNav a:hover, #footer .facebook-box .likeButton:hover, #cart_block .remove_link:hover, #cart_block .deleteCustomizableProduct:hover, #pk_customlinks .remove:hover, #pk_customlinks .ajax_cart_block_remove_link:hover,	#pk_customlinks .favoriteproduct a.remove:hover, #left_column .block li a:hover:after, #category #page h1, #center_column #bt_compare:hover, #page .chosen-container .chosen-results li.highlighted, ul.pagination a:hover, ul.pagination .current span, .function_button a:hover, .product_like.active a.remfav, .product_wishlist.active a, #wishlist_button:hover,	.function_button label:hover, .product_compare.active label, #product_comments_block_tab button.usefulness_btn:hover, #product_comments_block_tab button.usefulness_btn:active,	.wrapper-dropdown .dropdown li:hover,#wishlist_button.active, .cmp_remove:hover,	.cart_delete a.cart_quantity_delete:hover,	a.price_discount_delete:hover,	#order .exclusive.standard-checkout, #order .exclusive.multishipping-button, #module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist:hover, ul.wlp_bought_list li .lnkdel:hover,	#favoriteproducts_block_account .remove .icon:hover, 	.main-section-links > li > a, #page .flexmenu > ul > li.flexHover > a,	#page .flex-blockspec-direction-nav a:hover, #page .mobile-visible.flexmenu, #page .mobile-visible > ul li a, #page .flexmenu .left-title, #page .flexmenu .right-title, #sequence h3, #isotopeSort span.new, #page #sequence-theme .nav li.active, #layered_block_left .type_size li:hover, .showcase-plus-anchor, #navigation ul li a:hover, #navigation ul li.selected a, .theme_controller #switch #handler:hover, #scrollTop:hover, .q1, .q2 {
				background-color:#ffbd00}
#category #page h1,	#center_column #bt_compare:hover, #page .comment_title_block, #order .exclusive.standard-checkout, #order .exclusive.multishipping-button, #cart_summary .price, .carouselMobile .accordionButton, 	#page ul.flex-blockspec-direction-nav a:hover, #best-sellers_carousel .bx-controls a:hover, #page .mobile-visible.flexmenu .mobileMenuTitle {
				color:#212223}
#left_column .block .title_block, #left_column .block h4, #left_column .block li a:after, #subcategories h3, #new_comment_form button, .additional-cart-tabs div:hover, .additional-cart-tabs div.active,	#order .exclusive.standard-checkout:hover, #order .exclusive.multishipping-button:hover, .flexmenu,	#page .mobile-visible > ul,	.flexmenu > ul,	#page #sequence-theme .status, .flexmenu > ul > li div.submenu, .lava3, .lava2, .lava1, #navigation ul li a, body .theme_controller #switch #handler, .theme_sett_heading {
				background-color:#212223}
#product_list li .price,	#special_block_right .price, #best-sellers_carousel li .price, .accessories_block .product_info .price, #our_price_display, .blockproductscategory .price, #crossselling .price,	#product p.online_only,	.price,	.cart_total_price.ttlprc .price {
				color:#df1919}
#page #product_list li .discount,	#availability_statut #availability_value.warning_inline,	#reduction_percent_display,	.discount {
				background-color:#df1919}
body #header #header_logo, .logo-container{
				left:19px; top:24px; }
#header_logo .logo, #logofont_example {
				font: normal 58px/54px "Prata";				
				color:#333333
}
#header_logo .slogan, #sloganfont_example {
				font-size:12px; 
				font-family:"Judson"; 
				color:#868686}
#page input.button_mini, #page input.button_small, #page input.button, #page input.button_large, #page input.button_mini_disabled, #page input.button_small_disabled, #page input.button_disabled, #page input.button_large_disabled, #page input.exclusive_mini, #page input.exclusive_small, #page input.exclusive, #page input.exclusive_large, #page input.exclusive_mini_disabled, #page input.exclusive_small_disabled, #page input.exclusive_disabled, #page input.exclusive_large_disabled, #page a.button_mini, #page a.button_small, #page a.button, #page a.button_large, #page a.exclusive_mini, #page a.exclusive_small, #page a.exclusive, #page a.exclusive_large, #page span.button_mini, #page span.button_small, #page span.button, #page span.button_large, #page span.exclusive_mini, #page span.exclusive_small, #page span.exclusive, #page span.exclusive_large, #page span.exclusive_large_disabled {
				background-color: #212223; 
				color: #ffffff; 
				font-family: "Crimson Text"}
#page input.button_mini:hover, #page input.button_small:hover, #page input.button:hover, #page input.button_large:hover, #page input.exclusive_mini:hover, #page input.exclusive_small:hover, #page input.exclusive:hover, #page input.exclusive_large:hover, #page a.button_mini:hover, #page a.button_small:hover, #page a.button:hover, #page a.button_large:hover, #page a.exclusive_mini:hover, #page a.exclusive_small:hover, #page a.exclusive:hover, #page a.exclusive_large:hover {
				background-color: #ffbd00; 
				color: #212223}
#page h1, #page h2, #page h3, #page p.title_block, #pk_customlinks .text_desc a, #pk_wishlist .text_desc span, .cart_block_product_name, .special-products .s_title_block, #best-sellers_carousel h5, .s_title_block a, #productscategory_list li p.product_name a, #crossselling .product_name a, #new_comment_form button .total-title, #sequence h3, .tabcontent #heading-example h5 {
				font-family: "Crimson Text"; 
				color: #626262}
.sf-menu a, #cart_block .quantity-formated, .block .title_block, .block h4, #special_block_right .reduction, .idTabs a, #reduction_percent_display, #reduction_amount_display, .comparison-title, #product_comparison tr.comparison_header, .comparison_feature_odd strong, .comparison_feature_even strong, table.table_block th, table#cart_summary th, .cart-total table td, ul.step li a, ul.step li span, #block-history table th, .wlp_bought_infos th, #pk_bxslider_container h3, .more_info_block_mobile .accordionButton, #module-referralprogram-program table th, .carouselMobile .accordionButton, .flexmenu > ul > li a, #page .mobile-visible > ul > li > a, .filter li, #page .blog-title h3, .tabcontent #heading-example h6 {
				font-family: "Judson"; 
				color: #626262}
#page p, .tabcontent #text-example {
				font-family: "Verdana"; 
				color: #bbbbbb}
#page a, .tabcontent #link-example a {
					color: #797878}
.tabcontent #link-example a:hover{
					color: #333333}
body {
				background-color: #fafafa}
