@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.cat_desc {
background: #333;
}
#product_list li span.new {
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
	top:-40px !important;
	right:-70px !important
}
.no-right-margin {margin-right: 0 !important;}
ul.pagination li a {width: 22px;}
.accessories_block .product_info {width: 280px;}
.tweet_text {background: #e9e9e9;}
#aw_slider_container .bx-wrapper-mod .bx-pager.bx-default-pager a {background:#333}