/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
#minic_slider {position: relative; margin-top:25px}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:rgba(255, 255, 255, .4);
	color:#3a3a3c;
	width:100%;
	z-index:8;
	padding: 15px 30px 20px;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px 200px 5px 0;
	margin:0;
	color: #222;
	font-family: Georgia;
	font-size: 16px;
	line-height: 24px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-caption h3{
	padding: 0px 200px 10px 0;
	color: #222;
font-size: 28px;
font-family: "LMRoman10Regular";
line-height: 45px;
font-weight: bold;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 9099;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../../img/loading.gif) no-repeat 50% 50%;
    margin: 0 auto;
    margin-bottom:10px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;	
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	
}

.theme-default .nivo-directionNav a {
	display:block;
	background:url(../../img/arrows.png) no-repeat 0 0;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    position:absolute;
	top:43%;
	z-index:9;
	cursor:pointer;
	width:78px;
	height:78px;
	text-indent:-9999px;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:0px 0px;
	right:20px;
}
.theme-default a.nivo-prevNav {
	left:20px;
	background-position: -78px 0
}
.theme-default a.nivo-nextNav:hover {
	background-position:0px -78px;
}
.theme-default a.nivo-prevNav:hover {
	background-position: -78px -78px;
}
.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a:hover,
.theme-default .nivo-controlNav.nivo-thumbs-enabled a.active{
	webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
@media (max-width: 979px) and (min-width: 729px) {
	#minic_slider .nivo-caption h3 {font-size:22px; line-height: 30px;}		
	#minic_slider .nivo-caption p {font-size:14px; line-height: 22px;}		
}
@media (max-width: 728px) and (min-width: 480px) {
	#minic_slider .nivo-caption {padding: 15px;}
	#minic_slider .nivo-caption h3 {font-size:16px; line-height: 20px; padding-right:0}		
	#minic_slider .nivo-caption p {font-size:12px; line-height: 18px;padding-right:0}		
	.theme-default .nivo-controlNav {padding-bottom: 0px;}
	.theme-default .nivo-directionNav {display: none;}
}
@media (max-width: 480px){
	#minic_slider .nivo-caption {padding: 10px;}
	#minic_slider .nivo-caption h3 {font-size:14px; line-height: 16px; padding-right:0}		
	#minic_slider .nivo-caption p {font-size:12px; line-height: 14px;padding-right:0}		
	.theme-default .nivo-controlNav {padding-bottom: 0px;}
	.theme-default .nivo-directionNav {display: none;}
}