/* Block newsletter */
#newsletter_block_ext {margin-bottom:0px}
#newsletter_block_ext .col {
	width:292px;
	height:292px;
	float:left;
	margin-right:20px;
	border:1px solid #e4e4e4;
}
.soc_img, .newsletter_img {
	position: absolute;
	top:0;
	left: 0;
	margin-top:-162px;
	width:100%;
	height:auto	
	}
	#newsletter_block_ext .col.social:hover,
	#newsletter_block_ext .col.nwltr:hover, 
	#newsletter_block_ext .col.promo:hover{
-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.25);
box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.25);
	}
	#newsletter_block_ext .col.promo {
		margin-right:0px;
		width:292px;
		
	}
	#newsletter_block_ext .col.promo img {
		width:100%;
		height: auto;
		}
	#newsletter_block_ext .col.social:hover,
	#newsletter_block_ext .col.nwltr:hover,
	#newsletter_block_ext .col.promo img:hover { 
		opacity:0.9;
	}
	#newsletter_block_ext .col .content {
		height:130px;
		width:100%;
		position:relative;
		margin-top:162px;
	}
	#newsletter_block_ext .col .indent {
		padding:10px 10px 10px 27px;
	}
	#newsletter_block_ext .col .opacity_bg {
		width:100%;
		height:130px;
		background:#fff;
		opacity:0.6;
		filter:alpha(opacity=60);
		position:absolute;
		top:0px;
		left:0px;
	}
	#newsletter_block_ext .col .opaque {
		width:100%;
		height:130px;
		position:absolute;
		top:0px;
		left:0px;
	}
	#newsletter_block_ext .col h4 {
		background:none;
		text-transform:none;
		font-weight:normal;
		text-shadow:none;
		padding:0px;
		color:#3a3a3c;
		font-size:23px;
	}
	#newsletter_block_ext .col p{
		color:#666;
		font:normal 14px/18px Georgia;
		text-shadow:none;
	}
	#newsletter_block_ext .nwltr p {
		padding-bottom:10px;
	}
	#newsletter_block_ext .col.social ul {
		padding-top:10px;
	}
	#newsletter_block_ext .col.social ul li {
		width:37px;
		margin-right:30px;
		float:left;
	}
	#newsletter_block_ext .col.social ul li a {
		display:block;
		width:37px;
		height:37px;
	}
	#newsletter_block_ext .col.social li.youtube a{
		background:url(img/icons.png) no-repeat 0 0px;
	}
	#newsletter_block_ext .col.social li.twitter a{
		background:url(img/icons.png) no-repeat -37px 0px;
	}
	#newsletter_block_ext .col.social li.facebook a{
		background:url(img/icons.png) no-repeat -74px 0px;
	}
	#newsletter_block_ext .col.social li.google_plus a{
		background:url(img/icons.png) no-repeat -111px 0px;
	}
	#newsletter_block_ext .col.social li.youtube a:hover{
		background:url(img/icons_act.png) no-repeat 0 0px;
	}
	#newsletter_block_ext .col.social li.twitter a:hover{
		background:url(img/icons_act.png) no-repeat -37px 0px;
	}
	#newsletter_block_ext .col.social li.facebook a:hover{
		background:url(img/icons_act.png) no-repeat -74px 0px;
	}
	#newsletter_block_ext .col.social li.google_plus a:hover{
		background:url(img/icons_act.png) no-repeat -111px 0px;
	}
	#newsletter_block_ext .col.social li.google_plus {
		margin:0px;
	}
	form.newsletter_form {
		width:232px;
		height:33px;
		background:#f8f8f8;
		-webkit-border-radius: 8px;
		        border-radius: 8px;
		border:1px solid #e0e0e0
	}
	form.newsletter_form .ind {
		padding:4px 5px 5px 10px;
	}
	form.newsletter_form input {
		border:none;
	}
#newsletter_block_ext {
	padding:18px 0px 18px 18px;
	border:1px solid #e4e4e4;
	background:#fff;
	overflow:hidden;
	margin-top:20px;
}
#newsletter_block_ext p {padding:0;}

#newsletter_block_ext input.inputNew {
	height:23px;
	width:154px;
	border:none;
	line-height:23px;
	font:normal 13px Georgia;
	color:#999;
	background:#f8f8f8;
	margin:1px 0 0 0;
	vertical-align:top;
}

#newsletter_block_ext input.minibutton {
	height:26px;
	width:60px;
	border:0;
	color:#fff;
	font:normal 14px/26px Georgia;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color:none;
	cursor:pointer;
	padding: 0;
	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-appearance: none;
}
#newsletter_block_ext input.minibutton:hover {
	background:url(img/newsletter_button_act.png) no-repeat 0 0;
	}
#newsletter_block_ext .nwltr span.warning_inline {color:#f00}