.header_user_info {
  float: right;
 /* border-left: 1px solid #515151;
  border-right: 1px solid #515151;*/ }
	.header_user_info a{
	    height: 45px;
	    color: white;
	    font-weight: bold;
	    font-size: 14px;
	    display: block;
	    padding: 12px 9px;
	    cursor: pointer;
	}

    @media (max-width: 479px) {
      .header_user_info a {    
		float:left;
	  }
      #mobile {
		display:block!important;
		float:left;
		margin:0px 4px;
	  }
      #no-mobile{
		/*display:none;*/
	  }
	}
    .header_user_info a:hover, .header_user_info a.active {
      background: #41749f; }

	#mobile{display:none;}
